.modal-about__title {
  width: 100%;
  font-size: 34px;
  line-height: 54px;
  text-align: center;
  border-bottom: 1px solid black;
}

.modal-about__book-title {
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;
  margin-bottom: 8px;
}

.modal-about__author {
  font-size: 20px;
  line-height: 30px;
}

.modal-about__props {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-about__props-col {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    color: #555557;
  }
}

.modal-about__prop-label {
  font-weight: 500;
  color: black;
}

.modal-about__buttons {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.modal-about__btn-edit {
  align-self: center;
  padding: 5px 120px;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .modal-about {
    .modal-about__content {
      font-size: 17px;
    }

    &__title {
      font-size: 35px;
      line-height: 50px;
    }

    &__book-title {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

@media (max-width: 576px) {
  .modal-about {
    &__container {
      padding-bottom: 25px;
    }

    &__props {
      margin-top: 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    &__props-col {
      gap: 15px;
    }

    &__buttons {
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
    }
  }
}

@media (max-width: 450px) {
  .modal-about {
    &__title {
      font-size: 30px;
      line-height: 50px;
    }

    &__book-title {
      font-size: 22px;
      line-height: 30px;
    }

    &__btn-edit {
      padding: 5px 70px;
    }
  }
}
