@use '../../../scss/utils/' as *;

.wrapper {
  background-color: #f5f7fa;
  height: calc(100vh - 85px);
  width: 100%;
}

.books {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  &__btn {
    display: block;
    margin: 30px auto;
  }
  h2 {
    text-align: center;
  }
  &__item {
    @include flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 35px;
    cursor: pointer;
    width: 100%;
    p {
      flex: 1 0 auto;
      margin: 20px 0;
      color: #00000038;
    }
    a {
      flex: 0 0 auto;
      border: 1px solid #e5e5e5;
      display: block;
    }
  }
}
